<html>
  <head>
    <link rel="stylesheet" href="/highlight.css" type="text/css" >
    <link rel="stylesheet" href="/styles.css" type="text/css" >
  </head>
  <body>
    <% if menu_data %>
      <div style="position: sticky; top: 0;" id="sticky-header">
        <a href="<%= menu_data[:previous] %>" alt="previous file">↩ </a>&nbsp;
        <a href="<%= menu_data[:parent] %>" alt="parent directory">⌂</a>&nbsp;
        <a href="<%= menu_data[:next] %>" alt="next file">↪ </a>&nbsp;
        <% if menu_data[:in_diff_mode] %>
          <a href="?show_diff=true&history=<%= menu_data[:history] + 1 %>" alt="diff with previous version">previous version</a>&nbsp;
        <% else %>
          <a href="?show_diff=true" alt="diff with previous version">diff</a>&nbsp;
        <% end %>
        <a href="?raw=true" alt="show raw version of the file">raw</a>&nbsp;
        <a href="?serve=true" alt="serve with standard mime-type">serve</a>&nbsp;
        <a href="?prettify=true" alt="run prettier on this file">prettify</a>
      </div>
    <% end %>
    <div class="content">
      <%= code %>
    </div>
  </body>
</html>
