<html>
  <head>
		<link rel="stylesheet" href="/styles.css" type="text/css" >
  </head>
  <body>
    <div style="position: sticky; top: 0;" id="sticky-header">
			<a href='/'>home</a>
      <form method="get" action="/search">
        <label for="query">search</label>
        <input id="query" name="query" type="text">
        <input type="hidden" name="base" value="<%= sub_path %>">
				<div class="checkbox">
					<label for="show_only_match" class="submit-button">show only match (-o)</label>
					<input type="checkbox" id="show_only_match" class="hide" name="show_only_match" value="on">
					<div class="toggle"></div>
				</div>
        <input class="submit-button" type="submit">
      </form>
    </div>
    <div class="directory-listing">
      <h1>Directory listing for <%= sub_path %></h1>
      <h2>Directories</h2>
      <ul class="file-list" style="font-family: monospace">
        <% dirs.each do |dir| %>
          <li>
            <a href="<%= File.join(sub_path, url_encode(dir)) %>"><%= dir %></a>
          </li>
        <% end %>
      </ul>
      <h2>Files</h2>
      <ul class="file-list" style="font-family: monospace">
        <% files.each do |file| %>
          <li>
            <% begin %>
              <a href="<%= File.join(sub_path, url_encode(file)) %>"><%= file %> (<%= File.size(File.join(base_dir, sub_path, file)) %>)</a>
            <% rescue StandardError => e %>
              Error processing <%= file %>: <%= e.to_s %>
            <% end %>
          </li>
        <% end %>
      </ul>
    </div>
  </body>
</html>
