<html>
  <head>
    <link rel="stylesheet" href="/styles.css" type="text/css" >
  </head>
  <body>
    <div class="data">
      <% for placeholder in placeholders %>
        <div>
          <label for="<%= placeholder %>"><%= placeholder %></label>
          <input type="text" id="<%= placeholder %>">
        </div>
      <% end %>
    </div>
    <hr>
    <div class="content">
      <pre id="template" style="display: none"><%= CGI.escapeHTML(markdown) %></pre>
      <pre id="rendered"><%= CGI.escapeHTML(markdown) %></pre>
    </div>
    <script>
      <% for placeholder in placeholders %>
        const input_<%= placeholder %> = document.getElementById('<%= placeholder %>')
        input_<%= placeholder %>.addEventListener('change', updateRendered, false);
      <% end %>
      function updateRendered() {
          document.getElementById('rendered').innerHTML = 
            document.getElementById('template').innerHTML
              <% for placeholder in placeholders %>
                .replaceAll('{{<%= placeholder %>}}', input_<%= placeholder %>.value)
              <% end %>;
      }
    </script>
  </body>
</html>
