html, body {
    margin: 0;
}

html {
    background-color: #083c4a;
}

body {
    font-family: monospace;
    color: #ff7800;
}

h2 {
    color: #c85400;
}

.content {
    margin: 0.5em 0;
    padding: 1em;
}

a {
    color: #ff7800;
}

#sticky-header>a:hover {
    color: #ff5f5f;
}

.directory-listing {
    margin: 45px;
}

#file-list>li {
    list-style: none;
    font-size: 18;
    padding: 8px;
}

.file-list>li {
    margin: 15px;
    font-size: 18px;
    list-style: none;
    color: black;
}

.file-list>li>a {
    text-decoration: none;
}

.file-list>li>a::before {
    content: "›";
    padding: 20px;
}


#sticky-header>a {
    text-decoration: none;
    color: #ff7800;
    font-family: monospace;
    font-size: 20px;
    padding: 20px;
}

/* we need the shadow to look more 1337 */

div[class="highlight"] {
    margin: 25px;
    padding: 2%;
    box-shadow: 10px 5px 5px black;
    overflow-wrap: normal;
}

/* this is to style the code block - removes the run on code when it overflows */

pre {
    overflow-x: auto;
    white-space: pre-wrap;
}

/* search bar */



/* submit button */
.submit-button {
  padding: 7px;
  background-color: #ff7800;
  border: 0;
  color: #00546a;
  margin-left: x;
  /*! margin: 0; */
  font-family: monospace;
  font-size: 15px;
}
.submit-button:hover {
  background-color: #ac5100;
}
.toggle {
	margin-left:10px;
}
#query {
	margin-left: -90px;
}
.toggle::after {
	content: "⚪️";
}

#show_only_match:checked ~ .toggle::after {
	content: "✅";
}
.toggle {
	font-size: 15px;
}
.checkbox {
	display: flex;
	height: 29.5px;
	align-items: center;
}
.checkbox label {
	cursor: pointer;
}

.hide {
	position: absolute;
	left: -100vw;
}

#sticky-header {
	padding: 14px;
	background: #00546a;
	border-bottom-color: #005e77;
	border-bottom-style: solid;
	display: flex;
	align-items: center;

}
#sticky-header form {
  margin: 0;
  font-size: 18px;
	display: flex;
	flex-flow: row;
	width: 50%;
	justify-content: space-evenly;
	align-items: center;

}
